<% include  ./partials/header.ejs %>
<%- include('./partials/navbar.ejs', { nav: false }) %>
    
    <h2 class="text-2xl font-bold mb-4"><%= categoryName %> Pins</h2>
    <div class="cards">
        <% pins.forEach(pin => { %>
            <div class="card">
            <img src="<%= pin.image %>" alt="<%= pin.title %>">
            <p><%= pin.title %></p>
            </div>
        <% }) %>
    </div>



<% include  ./partials/footer.ejs %>